<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bannking.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name="com.bannking.MyApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankingApp"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustPan"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.HeaderForBankActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AccountBalanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BankActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SoundActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.VerifyMailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.HelpVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.UrlActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.HelpAndPrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FirstScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AfterSplashActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ResetPasswordActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".CreateBudgetPlannerActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ui.activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BudgetPlannerNewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AccountMenuNewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegisterOtpVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ProfileUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BudgetPlannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ExploreExpensesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ScheduleTransferActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TranSectionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.UpgradeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SpendingPlanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AccountMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CompletionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ForgetProfileVerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FindAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>

                <!-- send only data part for android not notification part -->
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_banking_logo" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/clr_blue" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3293843557873754~5752988505" />
    </application>

</manifest>